# --- Security ---
# Ignore the environment file with our passwords
.env

# --- Python ---
# Ignore the entire virtual environment folder
hca-venv/

# Ignore Python cache files
__pycache__/

# --- macOS ---
.DS_Store

# --- Data ---
# Ignore CSV files. Your raw data and generated batches
# should not be stored in Git.
*.csv

# --- VS Code ---
.vscode/